<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>waze</string>
	</array>
	<key>NLR_API_KEY</key>
	<string>oZqG4yF2uqSegQ8BIJtrUFq6DbtPQjB1XG6OPrck</string>
	<key>REVENUECAT_PUBLIC_SDK_KEY_INTERNAL</key>
	<string>appl_dRkEJFMexFQxPbIqDKscghPEJKr</string>
	<key>REVENUECAT_PUBLIC_SDK_KEY_PRODUCTION</key>
	<string>appl_JMieUwgUrJBbHODPJJByGmlOnTa</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InplZmtidHNjaWVva2tkZW52bmtnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2MjkzMDIsImV4cCI6MjA5MzIwNTMwMn0.LodTN0rF5HIkYr_TrxzsqaBrWrbF-0sFoIqD26Xgpwo</string>
	<key>SUPABASE_URL</key>
	<string>https://zefkbtscieokkdenvnkg.supabase.co/rest/v1/</string>
</dict>
</plist>
