<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>NearbyE85AppGroup</key>
	<string>$(NEARBY_E85_APP_GROUP)</string>
	<key>NearbyE85URLScheme</key>
	<string>$(NEARBY_E85_URL_SCHEME)</string>
</dict>
</plist>
